@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width: 499px) {
  .w-50 {
    width: 65%;
  }
  .pagination-container {
    margin-right: 38%;
  }
}

.top-100 {
  top: 100%;
}
.bottom-100 {
  bottom: 100%;
}
.max-h-select {
  max-height: 300px;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 25px !important;
  font-weight: 900;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3;
}

.pagination-button:hover {
  background-color: #ccc;
  font-weight: 400;
}

.pagination-button:disabled {
  background: lightgray;
  color: white;
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 10px;
}
